<div class="text-center">

<div class="col-md-6">

<h1>Login</h1>

  <% if flash[:notice] %>
    <%= flash[:notice] %>
    <br>
  <% end %>

<%= form_with scope: "session", url: login_path, method: 'post', local: true do |f| %>
  <li class="list-group-item">
  <%= f.label :name %>
  <%= f.text_field :name %>
  </li>
  <li class="list-group-item">
  <%= f.label :password %>
  <%= f.password_field :password %>
  </li>
  <li class="list-group-item">
  <%= f.submit "Login" %>
</li>
<% end %>

</div>



<div class="col-md-6">

  <%= render 'users/new' %>

</div>

</div>
