<div class="container" class="text-center">

  <div class="featured text-center">

  <h1> Find a Beer! </h1>

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>
<br>

  <h3><%= @beer_count %> varieties of beer and counting!</h3>

  <div >

    <%= form_with url: beers_path, method: 'get', local: true do |f| %>
      <%= f.label :q, "Find a Beer" %>
      <div class="glyphicon glyphicon-search">
      <%= f.search_field :q, list: "beers", placeholder: "Enter beer or brewery", size: 50 %>
      </div>
      <datalist id="beers">
        <% @all_beers.each do |beer| %>
          <option value="<%= beer.name %> - <%= beer.brewery %>"</option>
        <% end %>
      </datalist>
      <%= f.submit "Search", name: nil %>
    <% end %>

  </div>

  <div >

    <h4>Can't find your beer? <%= button_to "Create a New Beer", new_beer_path, method: 'get', class:'btn-success'%></h4>

  </div>

</div>


  <div class="featured text-center">
    <h3>Featured Beers</h3>


    <% @featured_beers.each do |beer| %>
    <div class="">
      <div class=" col-md-4">
        <div class="btn btn-default btn-lg">
          <%= link_to beer.name, beer_path(beer) %>
          <br>
          <%= beer.brewery %>
        </div>
      </div>
    </div>
    <% end %>
  </div>


</div>

<% @all_beers.each do |beer| %>
  <li> <%= link_to beer.name, beer_path(beer) %> - <%= beer.brewery %>
    <% end %>
</ul>
