<h1> Find a Beer! </h1>

  <%= form_with url: beers_path, method: 'get' do |f| %>
    <%= f.label :q, "Find a Beer" %>
    <%= f.search_field :q %>
    <%= f.submit "Search" %>

  <% end %>
<ul>

<% @beers.each do |beer| %>
  <li> <%= link_to beer.name, beer_path(beer) %> </li>
  <% end %>

</ul>

  <h4>Can't find your beer? <%= button_to "Create a New Beer", new_beer_path, method: 'get'%></h4>
