<h2>Beer: <%= @beer.name %></h2>
<h2>Brewery: <%= @beer.brewery %></h2>
<h4> Style: <%= @beer.style %></h4>
<h4>Alcohol Percentage: <%= @beer.abv %></h4>

<h5> <%= button_to "Tell us what you think about this beer!", new_post_path, method: :get %> </h5>

<h4>Our users have described this beer as:</h4>
<ul>
  <% @categories.each do |cat| %>
    <li> <%= cat.name %> </li>
  <% end %>
</ul>
