<h2><%= @beer.name %> brewed by <%= @beer.brewery %></h2>
<h4> Style: <%= @beer.style %></h4>
<h4><%= @beer.abv %>% Alcohol</h4>

<h4>Our users have described this beer as:</h4>
<ul>
  <% @categories.each do |cat| %>
    <li> <%= cat.name %> </li>
  <% end %>
</ul>

<!-- new post form -->
<div>

<h4>Tell us what you think about this beer!</h4>
<%= render 'posts/form' %>

</div>

<hr>
<ul>
  <% @beer.posts.each do |post| %>
  <li>
    <%= link_to "Posted on #{post.stringify_datetime}", post_path(post) %>
    <br>
    <% if post.image_url %>
      <img src= "<%= post.image_url %>" alt="" height="200", width="300">
    <% end %>
    <br>
    <h3><%= post.description %></h3><br>
    <ul>
      <% post.categories.each do |category|%>
        <li><%= category.name %></li>
        <%end%>
      </ul>
    <h4>Best Enjoyed: <%= @post.situation %></h4>
    <h5>By <%= post.user.name %></h5>

  </li>
  <hr>
  <% end %>
</ul>
