<!-- DEFUNCT FORM -->

<h1> Share your Beer! </h1>

Beer: <%= @beer.name %>
Brewery: <%= @beer.brewery %>
Style: <%= @beer.style %>
Alcohol Percentage: <%= @beer.abv %>
<hr>

<%= form_for @post do |f| %>

      <%= f.label :description %>
      <%= f.text_area :description %><br>

      <%= f.label "Picture" %>
      <%= f.file_field :image_file %><br>

      <%= f.label :situation %>
      <%= f.collection_select(:situation, Post.situations, :itself, :itself) %>

      <input type="hidden" name="beer[posts_attributes][0][user_id]" value="<%= @user.id %>"><br>
      <%# hidden_field_tag :user_id, @user.id %>

      <%= f.submit %>
<% end %>
