<h2><%= @post.beer.name %> brewed by <%= @post.beer.brewery %></h2>
<h3>Style: <%= @post.beer.style %></h3>
<h3>Alcohol Percentage: <%= @post.beer.abv%>%</h3>
<br>
<%= @post.image_file %>
<br>
<h3><%= @post.description %></h3><br>
<hr>
<h5>By <%= @post.user.name %></h5>
