<h1>Welcome to Libeery!</h1>

<% if !get_logged_in_user %>


  <h1>Login</h1>

    <% if flash[:notice] %>
      <%= flash[:notice] %>
      <br>
    <% end %>

  <%= form_with scope: "session", url: login_path, method: 'post', local: true do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>

    <%= f.submit "Login" %>

  <% end %>

  <br>

  <h1> Create an Account! </h1>

  <%= form_for @user do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :location %>
    <%= f.text_field :location %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <%= f.label :password_confirmation, value: "Confirm Password" %>
    <%= f.password_field :password_confirmation %>
    <br>

    <%= f.submit "Create Account" %>

  <% end %>

<% end %>
